{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h1 class="d-none d-md-block">{{ page.title }}</h1>
      <h3 class="d-block d-md-none">{{ page.title }}</h3>
    </div>
    {% for block in page.body %}
      {% if block.block_type == 'table' %}
        <div class="col-12 col-lg-10">
          <div class="table-responsive border mb-3">{{ block.value }}</div>
        </div>
      {% elif block.block_type == 'code' %}
        <div class="col-12 col-lg-8">
          <div class="bg-light border p-3 mb-3"><pre class="mb-0"><code>{{ block.value }}</code></pre></div>
        </div>
      {% else %}
        <div class="col-12 col-lg-8">
          {% include_block block %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock content %}