{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<nav class="navbar" style="background-color: #006700">
  <a class="navbar-brand text-white" href="#">PythonPractico</a>
</nav>

<div id="header" style="background-color: #008000">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <h1 class="text-white weight-bold">Python Practico</h1>
        <img class="card-img-top" src="https://www.xlwings.org/assets/images/home/xlwings.png">
      </div>
    </div>
  </div>
</div>

<div id="featured" py-5>
  <div class="container" style="background-color: #e1e5ea">
    <h3 class="text-dark weight-bold">Lo ultimo en el blog</h3>
  </div>
  <div class="container py-5" style="background-color: #f8f9fa">
    <h3 class="text-dark weight-bold">Categorias</h3>
    <div class="card-deck">
      <div class="card">
      <img class="card-img-top" src="https://static.amazon.jobs/global_images/32/images/Location_copy.jpg?1540849565" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Python</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
      </div>
      <div class="card">
      <img class="card-img-top" src="https://static.amazon.jobs/global_images/36/images/Teams_3_copy.jpg?1540850190" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pandas</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
      </div>
      <div class="card">
      <img class="card-img-top" src="https://static.amazon.jobs/global_images/34/images/Job_Categories-s.jpg?1540850104" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Django</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
